/* ==UserStyle==
@name           DD-WRT Inspired Themes
@namespace      github.com/style-it-themes/dd-wrt-inspired-themes
@description    Very customizable themes for routres running DD-WRT
@author         Style-it Themes: the-j0k3r
@homepageURL    https://github.com/style-it-themes/dd-wrt-inspired-themes
@supportURL     https://github.com/style-it-themes/dd-wrt-inspired-themes/issues/new/choose
@updateURL      https://github.com/style-it-themes/dd-wrt-inspired-themes/raw/main/dd-wrt-inspired-themes.user.styl
@version        6.0.0
@license        MIT
@preprocessor stylus

@var checkbox sdetails     'Show style details'     0

@var select   cg_theme     'Preset themes toggle'   {

    'Custom colors   *' :  'custom-style'  ,
    'Dracula          ' :  'dracula'       ,
    'Duo Cocoa        ' :  'duo-cocoa'     ,
    'Material         ' :  'material'      ,
    'Material Darker  ' :  'material-dkr'  ,
    'Solarized Dark   ' :  'solarized-dark',
    'The Matrix       ' :  'the-matrix'    ,
    'Twilight         ' :  'twilight'      ,
    'Ubuntu           ' :  'ubuntu'        ,
}

@var color    cg_bg        'Custom background       ' #111a22
@var color    cg_fg        'Custom foreground       ' #f2f4ff
@var color    cg_ac        'Custom accent           ' #4f74e3

@var range    cg_sat       'Saturation of RGB colors' [0, -50, 40, 0.01]
@var range    cg_lig       'Lightness of gray colors' [0, -30, 30, 0.01]

@var checkbox custom_font  'Enable  font overrides  ' 0
@var checkbox invert_nav   'Invert navigation style ' 1
@var checkbox hide_hsl     'Show hotspot logos      ' 1
@var checkbox chkbx_toggle 'Enable ckeckbox toggle  ' 0

@var text     f_ui         'UI font                 ' ''font_name''
@var text     f_mono       'Monospace font          ' ''font_name''
@var text     transition   'Define transition value ' 'all 0.2s cubic-bezier( 0.3, 0, 0.5, 1)'

==/UserStyle== */
// Helpers.
rq        = unquote
stinfo    = 'DD-WRT Inspired Themes v6.0.0'
copyright = '© 2021 Style-it-themes: the-j0k3r'
license   = 'MIT'
homeURL   = 'https://github.com/style-it-themes/dd-wrt-inspired-themes'
t         = transparent
i         = !important
vendors   = official

// Convert colors to HSLA format.
// NOTE: This is done just for consistency of generated colors.
to_hsla(input) {
  $h = {}
  $h.hue = rq(split('deg', '%s' % ceil(hue(input), 2))[0])
  $h.saturation = ceil(saturation(input), 2)
  $h.lightness = ceil(lightness(input), 2)
  s('hsla(%s,%s,%s,1)', $h.hue, $h.saturation, $h.lightness)
}

// SVG-friendly colors mixin.
// NOTE: Compiler does not like HSLA format, so we convert back to HEX.
to_hex(input) {
  s('\%23%s', rq(substr(s('%s', convert(input)), 1, 6)))
}

// Color mixin.
// All colors: `c: fg bd bg`
// Only border-color: `c: 0 bd`
c(x, y = 0, z = 0, xi = 1, yi = 1, zi = 1) {
  if x != 0 && x != '_' {            color: xi is 0 ? x : x i }
  if y != 0 && y != '_' {     border-color: yi is 0 ? y : y i }
  if z != 0 && z != '_' { background-color: zi is 0 ? z : z i }
}

// SVG colors.
g(x, y = 0, xi = 1, yi = 1) {
  if x != 0 && x != '_' {   fill: xi is 0 ? x : x i }
  if y != 0 && y != '_' { stroke: yi is 0 ? y : y i }
}

// Border radius mixin.
rad() { border-radius: arguments }

// Box-shadow mixin.
bsh() { box-shadow: arguments }

// Box-shadow mixin.
tsh() { text-shadow: arguments }

// Color generator.
// NOTE: Fix the scope to avoid conflicts.
/{
  // Generator -> Color-schemes.
  ColorSchemes = {
    'custom-style'   : { BG:   cg_bg, FG:   cg_fg, AC:   cg_ac }
    'dracula'        : { BG: #282A36, FG: #f8f8f2, AC: #bd93f9 }
    'duo-cocoa'      : { BG: #28231f, FG: #ffdac2, AC: #dfb249 }
    'material'       : { BG: #263238, FG: #eeffff, AC: #82aaff }
    'material-dkr'   : { BG: #212121, FG: #eeffff, AC: #82aaff }
    'solarized-dark' : { BG: #002b36, FG: #fdf6e3, AC: #268bd2 }
    'the-matrix'     : { BG: #000000, FG: #ffffff, AC: #00ff00 }
    'twilight'       : { BG: #141414, FG: #f7f7f7, AC: #8f9d6a }
    'ubuntu'         : { BG: #2c071a, FG: #f2f1ef, AC: #ef7847 }
  }

  // Select active color-scheme.
  for color-scheme in ColorSchemes {
    if (color-scheme == cg_theme) {
      define('BG', ColorSchemes[color-scheme].BG, global)
      define('FG', ColorSchemes[color-scheme].FG, global)
      define('AC', ColorSchemes[color-scheme].AC, global)
    }
  }

  // Color values and hues.
  // NOTE: List with anonymous hashes.
  colors = (
    { key: bg, color:   BG } \
    { key: fg, color:   FG } \
    { key: v0, color:   AC } \
    { key: v1, hue:   0deg } \
    { key: v2, hue:  30deg } \
    { key: v3, hue:  60deg } \
    { key: v4, hue: 120deg } \
    { key: v5, hue: 180deg } \
    { key: v6, hue: 210deg } \
    { key: v7, hue: 270deg } \
    { key: v8, hue: 300deg } \
    { key: v9, hue:   0deg } \
  )

  // Alias colors.
  $bg = colors[0]
  $fg = colors[1]

  // Generate background colors.
  for num in 0..5 {
    $color = $bg.color
    if num == 1 {} // Skip base BG color.
    else if num == 0 { $color = darken($color, 10%) }
    else { $color = lighten($color, (num + 2) * num / 2%) }
    $color = to_hsla($color)

    $key = s('%s%s', $bg.key, num)
    $val = 'var(--%s-%s)' % (($bg.key) (num))
    define('$' + $key, $color, global)
    define('' + $key, $val, global)
  }

  // Generate foreground colors.
  for num in 0..5 {
    $color = $fg.color
    if num == 1 {} // Skip base FG color.
    else if num == 0 { $color = lighten($color, 10%) }
    else { $color = darken($color, (num + num / 1.25) * 5%) }

    $color = to_hsla($color)

    $key = s('%s%s', $fg.key, num)
    $val = 'var(--%s-%s)' % (($fg.key) (num))
    define('$' + $key, $color, global)
    define('' + $key, $val, global)
  }

  // Generate all other colors.
  for c, i in colors[2..length(colors)] {
    $sel  = colors[i + 2]

    for num in 0..9 {
      // Case for accent colors.
      if ($sel.key == v0) {
        $color = darken($sel.color, (80% - ((num + num / 3) * 7.5)))
        $color = darken($sel.color, (100% - (num + 3) * 7.5))
        $color = lightness($color, lightness($color) + num)
      }

      // Case for gray colors.
      else if ($sel.key == v9) {
        $color = hsl($sel.hue, 0%, 50% + cg_lig)
        $color = darken($color, (100% - (num + 2) * 17))
      }

      // Case for RGB colors.
      else {
        $hue   = $sel.hue
        $color = hsl($hue, 60% + cg_sat, 60% + cg_lig)
        $color = darken($color, (100% - (num + 2) * 7.5))
        $color = lightness($color, lightness($color) + num)
      }

      // Convert to HSLA format.
      $color = to_hsla($color)

      $key = s('%s%s', $sel.key, num)
      $val = 'var(--%s-%s)' % (($sel.key) (num))
      define('$' + $key, $color, global)
      define(''  + $key, $val, global)
    }
  }
}
@-moz-document regexp('^https?://(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}(\/.*)?$'),
/*-----------*/regexp('https?://oidsearch.s.dd-wrt?.com(/.*)?'),
/*-----------*/regexp('https?://speedchecker.dd-wrt?.com(/.*)?'),
/*-----------*/regexp('https?://iplookup.flagfox?.net(/.*)?'),
/*-----------*/regexp('https?://192.168.20.1.spectral_scan.html(/.*)?') {

  // global section triggers and variables
  :root {
    // show style name/version/copyright
    // when inspecting the code or using compiled CSS this info is auto added now.
    --style-name: rq(stinfo)
    --copyright: rq(copyright)
    --license: rq(license)
    --home-url : rq(homeURL)
    // Generate CSS color variables.
    colors = (bg fg v0 v1 v2 v3 v4 v5 v6 v7 v8 v9)
    for color in colors[0..1] {
      for tone in 0..5 {
        { '--%s-%s' % ((color) (tone)) }: $ + color + tone
      }
    }
    for color in colors[2..length(colors)] {
      for tone in 0..9 {
        { '--%s-%s' % ((color) (tone)) }: $ + color + tone
      }
    }
    // remap generated accent colors + keep v09 as 1:1 AC
    shade = (dark(BG)) ? darken : lighten

    --v0-0: to_hsla(mix(shade(BG, 90%), AC, 90%))
    --v0-1: to_hsla(mix(shade(BG, 80%), AC, 80%))
    --v0-2: to_hsla(mix(shade(BG, 70%), AC, 70%))
    --v0-3: to_hsla(mix(shade(BG, 60%), AC, 60%))
    --v0-4: to_hsla(mix(shade(BG, 50%), AC, 50%))
    --v0-5: to_hsla(mix(shade(BG, 40%), AC, 40%))
    --v0-6: to_hsla(mix(shade(BG, 30%), AC, 30%))
    --v0-7: to_hsla(mix(shade(BG, 20%), AC, 20%))
    --v0-8: to_hsla(mix(shade(BG, 10%), AC, 10%))
    --v0-9: to_hsla(mix(shade(BG, 0%), AC, 0%))

    // rgba BG/AC vars
    --rgba-bg-01: rgba(BG, .1)
    --rgba-bg-03: rgba(BG, .3)
    --rgba-bg-04: rgba(BG, .4)
    --rgba-bg-05: rgba(BG, .5)
    --rgba-bg-075: rgba(BG, .075)
    --rgba-ac-06: rgba(AC, .6)
    --syslog-bd: darken(BG, 25%)
  }

  // Style selection bg/fg with accent color
  ::selection { background-color: v06; color: v99 }

  // Use custom font
  if (custom_font) {
    .label, .setting, select[name] {
      font-family: var(--f-ui)
    }
    pre, textarea {
      font-family: var(--f-mono)
    }
    :root {
      --style-name: rq(stinfo)
      --copyright: rq(copyright)
      --license: rq(license)
      --home-url : rq(homeURL)
      // Feat -> Custom monospace font.
      --f-mono: f_mono, Cascadia Code, Fira Code, SFMono-Regular, Consolas, \
          Liberation Mono, Menlo, monospace

      // Feat -> Custom user interface font.
      --f-ui: f_ui, Tahoma, Arial, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, \
          Helvetica, Apple Color Emoji, Segoe UI Emoji
    }
  }

  // Show style details
  if (sdetails) {
    #ipinfo {
      &::after {
        cbreak  = '\A\A '

        content: '' + rq(cbreak) + rq(stinfo)
        white-space: pre-wrap
      }
    }
    // fixes a Chromium bug which the width of status info overlaps the status button
    // causing the Status button to be only partially clickable.
    #statusInfo {
      width: auto
    }
  }

  // Password score
  #score {
    color: v99
    &barBorder {
      background: bg0
      border: 1px solid bg4
      rad: 2px
    }
    &bar {
      rad: 2px
    }
  }
  // remove th styles for reset routers initial page
  #tablePwdCheck tr th {
    background-color: t
    border: 0
    color: v98
    text-align: right
    vertical-align: middle
  }

  // Body
  body {
    background: bg1
    color: v97

    text-rendering: optimizeLegibility
    a:link {
      color: v98
      &:hover { color: v09 }
    }
    // fix filters popup
    &[onunload*="location.href='Filters.asp'"] {
      height: 180% i
      background-color: bg0
      td[width='70'] {
        input[type='checkbox'][name*='sum'] {
          margin-bottom: 0
        }
      }
      h2 { background: bg5 }
    }
    &.gui {
      background: bg0
      color: v96
    }
    fieldset {
      background: bg2
      border-color: bg4
      color: v98

      rad: 4px
      border-width: 1px
      legend, .syslog_legend {
        background: t
        color: v09
        tsh: 0 1px 0 bg0
        // workaround main fresh-dark.css hack for brighter legends non color specific.
        filter: none
      }
    }
    #content {
      // Help bg
      background: t
      border: 1px solid t
      color: v98
      rad: 0 0 4px 4px
      #help {
        background: bg1
        width: 21em
      }
      &.infopage {
        #main {
          background-color: bg1
          border: 1px solid bg4
          #contentsInfo h2 {

            input {
              vertical-align: -.03rem
            }
          }
        }
      }
      // Main header
      #header { background: bg0 i }
    }
    #main #contents {
      background: bg1
      color: v97
    }
    //#content {
    //  border-color: bg5
    //  border-width: 1px
    //  border-style: none inset inset inset
    //  rad: 0 0 4px 4px
    //}

    input {
      background-color: bg0
      border-color: bg4
      color: v98

      outline: 0
      &:focus, &.focus {
        border-color: v09
        bsh: 0 0 5px 1px v08
      }
      &[disabled] {
        background-color: bg0 i
        border-color: bg2
        color: v94
        &:hover {
          color: v99
          c: 0 bg2 bg0
        }
      }
      &.button {
        background: v04
        border: 1px solid v06
        bsh: 0 1px 0 bg0
        color: v98
        tsh: 0 1px 0 bg0
        height: 1.433rem
        padding: 0 .462rem 0 .462rem

        transition: transition
        outline: 0
        &:hover, &:focus-within {
          background: v07 i
          border-color: v07 i
          bsh: 0 0 10px 0 v04 i
          color: v99
        }
        &[disabled] {
          c: v99 v06 v05
          bsh: none
          opacity: .6
          &:hover {
            c: v99 v06 v05
            bsh: none i
            opacity: .6
          }
        }
      }
      &[name*='apply'], &[name='changepassword'] {
        background: none repeat scroll 0 0 v42
        border-color: v43
        color: v98
        tsh: 0 1px 0 bg0
        &:hover, &:focus-within {
          background: none repeat scroll 0 0 v43 i
          border-color: v43 i
          bsh: 0 0 10px 0 v43 i
          color: v99 i
        }
      }
      &[name*='reset']:not([type="radio"]) {
        background: none repeat scroll 0 0 bg3
        border-color: bg4
        color: v98
        tsh: 0 1px 0 bg0

        &:hover, &:focus-within {
          background: none repeat scroll 0 0 bg5 i
          border-color: bg5 i
          bsh: 0 0 10px 0 bg5 i
          color: v99 i
        }
      }
      &[name*='refresh'][style*='background'] {
        background: v05 i
      }
      &[name*='reboot'] {
        background: none repeat scroll 0 0 v14
        border-color: v15
        color: v98
        tsh: 0 1px 0 bg0
        &:hover, &:focus-within {
          background: none repeat scroll 0 0 v16 i
          border-color: v17 i
          bsh: 0 0 10px 0 v16 i
        }
      }
    }
    div.progressbar {
      background-color: bg4
      border: 1px solid bg5
      rad: 4px
    }
    dd {
      border-bottom: .123rem dotted bg5
    }
    // about page targeted styling finally !!!
    &.about-bg {
      background: bg2 i
      color: v96 i
      #content {
        border-color: t
        table.t-border {
          border-color: bg4 i
        }
        .thc {
          background-color: bg5 i
        }
        .t-border {
          border-color: bg4 i
        }
      }
      a {
        color: v09 i
        &:hover {
          color: v08 i
        }
      }
    }
    &.help-bg {
      background: bg2 i
      color: v96
      #content {
        background: t
        border-color: t
        color: v98
        h2 {
          background: bg5 i
          color: fg1 i
        }
      }
      a {
        color: v09 i
        &:hover {
          color: v08 i
        }
      }
    }
    // Reboot message box when classic dark styles enabled
    div.message {
      background-color: bg1
      border-color: bg3
      rad: 4px
    }
  }

  form {
    // WDS alignments
    &[name='wds'] {
      .label { margin-right: 24px }
      select {
        margin-right: .562em
        margin-top: -.1rem
      }
      input[size='25'] {
        vertical-align: 0
      }
    }
    &[name='changepassword'] {
      .warning #warning_text, p b {
        font-size: .8rem
        letter-spacing: unset
        margin-bottom: -.5rem
      }
    }
    &[name='nvramrestore'] {
      .warning p {
        margin-bottom: 1rem
      }
    }
  }

  // Wol execution in progress box
  pre {
    background-color: bg0
    &[style*='height:530px'], &[style*='height:413px'] {
      border: 1px solid bg4
      cursor: copy
    }
  }

  #wrapper #content { background-color: bg1 }

  .popup {
    background: bg1
    color: v97
  }

  hr { c: bg5 0 bg5 }

  #statusInfo {
    color: v09
    a {
      color v09
      &:hover { color: v99 }
    }
  }

  // Fix specific button margins caused by styling
  div.center {
    input.button {
      &[name='add_button']:not([onclick*='_add']) {
        margin: 0 0 .8em 0
      }
      &[name='add_button'][onclick*='_add'] {
        margin: 0 .5em 0
      }
      &[name='add_button'][onclick*='add_tunnel'] {
        margin: 0 .5em 0
      }
    }
  }
  input {
    &.num {
      vertical-align: unset
    }
    &.button {
      &[onclick*='copy'],
      &[onclick*='paste'] {
        margin: 0 .362em 0 0
      }
      &[onclick*='vifs_add'] {
        margin: .4em 0 0 0
      }
      &[onclick*='vifs_remove'] {
        margin: 0 .362em 0 0
      }
      &[onclick*='delete'] {
        margin: 0 .4em 0 .4em
      }
      &[onclick*='DeleteEntry'] {
        vertical-align: .04rem
      }
      &[onclick*='to_delete'] {
        margin: 0 .4rem 0 .362rem
      }
      &[onclick*="filter_remove"] {
        margin: 0 .5rem 0 .3rem
      }
      &[onclick*="filter_del"] {
        margin: 0 .5rem 0 0
      }
      // Tunnels - generate key button position
      &[onclick*='gen_wg_key'] {
        margin: 0 0 6px -31.5%
      }
      &[onclick*='show_prev'],
      &[onclick*='show_next'] {
        margin: -.333rem .362rem 0 0
      }
      &[onclick*='add_peer'] {
        margin: 0 0 -6px -34.5%
      }
      // better padding for preview style button
      &[onclick*='previewStyle'] {
        vertical-align: middle
        height: 1.56rem
        margin-left: .362em
      }
      //vlan add button tweaks
      &[onclick*='vlan_add'],
      &[onclick*='bridge_add'],
      &[onclick*='bridgeif_add'],
      &[onclick*='ipvs_add'],
      &[onclick*='bond_add'],
      &[onclick*='mdhcp_add'] {
        padding: .2em .95em
      }
      &[onclick*='bridge_add'],
      &[onclick*='bridgeif_add'],
      &[onclick*='ipvs_add'] {
        margin-top: .2rem
      }
      &[onclick*='release'] {
        margin-right: .5rem
      }
      &[onclick*='traffdata.bak'] {
        margin: 0 .62em 0 0
      }
      &[onclick*='ttraff_remove'] {
        margin: 0 0 0 .362em
      }
    }

    // Access restrictions - Align checkbox with filter dropdown
    &[type='checkbox'] {
      &[name='_filter_p2p'] {
        vertical-align: -.45rem
      }
      &[onclick*='edit_wol_host'] {
        margin-bottom: 0
        vertical-align: -.45rem
      }
    }

  }
  /select {
    &[onchange*='SelRoute'] {
      margin-top: -.2rem
    }
  }
  // ForwardIP.asp checkbox to middle of num inputs
  .table {
    &[summary='ports forwarding table'],
    &[summary="ports triggering table"] {
      input[type='checkbox'] {
        margin-top: .4rem
      }
    }
    /*
    &#active_clients_table, &#dhcp_leases_table {
      table-layout: fixed
      td {
        text-overflow: ellipsis
        overflow: hidden
      }
      th:first-of-type::after {
        content: '\00A0\23F6\23F7'
        cursor: pointer
      }
    }
    */
  }

  if (invert_nav) {
    #menu {
      #menuMainList {
        li {
          span {
            background: bg1
            border-color: bg5
            outline: 0
            strong {
              color: v99
              tsh: 0 1px 0 bg0
            }
          }
          a {
            background: v04
            border-color: v06
            color: v98
            outline: 0
            &:hover {
              background: v07
              border-color: v07
              color: v99
            }
            &:focus, &:focus-within, &:focus-visible {
              background: v07
              border-color: v07
              outline: 0
            }
          }
          &.current {
            span {
              background: bg1
              transition: transition
            }
          }
        }
      }
    }
    #menuSub {
      background: bg3 i
      border-color: bg5 i
      outline: 0
    }
  }

  #menuSub {
    background: v04
    color: fg1
    border-color: v06
    tsh: 0 1px 0 bg0
    outline: 0
  }
  #help {
    a {
      color: fg1
      &:hover { color: fg1 }
    }
    h2 {
      background: v04
      color: fg1
      border-color: v06
      tsh: 0 1px 0 bg0
      outline: 0
    }
    dd {
      &.definition { border-bottom: .123rem dotted bg5 }
    }
  }

  #menuSubList {
    li {
      a {
        background: v06
        border-color: v08
        color: fg1
        &:hover {
          background: v08
          border-color: v09
          color: fg0
        }
      }
      span {
        &hover, &:focus-within {
          background: v06
          border-color: v09
          color: fg1
        }
      }
    }
  }

  #menuMainList {
    transition: transition
    li {
      span {
        background: v04
        border-color: v08
        color: v99
        strong { tsh: 0 1px 0 bg0 }
        outline: 0
        &hover, &:focus-within {
          background: v06
          border-color: v09
          color: v98
        }
      }
      a {
        background: bg1
        border-color: bg5
        color: v98
        tsh: 0 1px 0 bg0
        transition: transition
        outline: 0
        &:hover {
          background: bg2
          border-color: bg5
          color: v98
        }
        &:focus-within {
          background: bg3
          border-color: bg5
          color: v98
        }
      }
    }
  }

  textarea {
    background-color: bg0
    border-color: bg4
    line-height: 1.8em
    color: v96
    resize: vertical
    transition: transition
    &:hover, &.focus, &:focus, &:focus-within, &:focus-visible {
      c: v98 v08 bg1
      bsh: 0 0 10px 0 v04 i
      outline: 0 i
    }
  }
  .syslog_bd {
    background: bg1
  }
  // syslog
  .syslog_bg {
    background: var(--syslog-bd)
    color: v97
    padding-top: .1rem
    tr {
      &:not([bgcolor]):hover {
        background: bg2
        color: v99
      }
      &[bgcolor='#eec900'] {
        background-color: v36
        &:hover {
          background-color: v35
        }
      }
      &[bgcolor='#ff6666'] {
        background-color: v19
        &:hover {
          background-color: v18
        }
      }
      &[bgcolor='#35ee00'] {
        background-color: v46
        &:hover {
          background-color: v45
        }
      }
    }
  }
  table {
    &[bgcolor='#FFFFFF'] { background-color: bg0 }
    &[bordercolor='#000000'] { border-color: bg4 }
    tr:not([bgcolor]) {
      &:hover, &:focus-within {
        background-color: t
      }
      th {
        background-color: bg5
        border-color: bg5
        color: fg1
        padding-bottom: 2px
      }
    }
    tr {
      td[style='color:#000'] {
        color: v90 i
      }
      td[bgcolor='#FFFFFF'] { background-color: bg0 }
    }
    /#wireless_table {
      td {
        /#ip_count,
        /[title*='Search'],
        /[title*='Monitoring'] {
          text-decoration: none i
          &:hover {
            color: v09
            text-decoration: underline i
            transition: transition
          }
        }
      }
    }
    // Access restrictons - fix center align to weekdays table
    /[summary='week days table'] {
      margin-left: -1.3rem
    }
    td {
      /[style*='background-color: rgb(34\, 139\, 34)'] {
        c: 0 0 v43
      }
      /[style*='background-color: rgb(205\, 0\, 0)'] {
        c: 0 0 v15
      }
      &[bgcolor='#C0C0C0'] {
        background-color: bg2
        &:hover { background-color: bg3 }
      }
    }
    tr[bgcolor='#CCCCCC'] {
      background-color: bg2
      &:hover, &:focus-within { background-color: bg3 }
    }
    // syslog color
    tr[bgcolor='#7CFC00'] {
      background-color: v42
      color: v99
    }
    // Nas - add margin before submitFooter
    /#drives { margin-bottom: 6px }
    /[summary='packet-type priority table'] {
      td[colspan='5'] { padding-bottom: 6px }
    }
    /#conntrack_table {
      a:link {
        color: v97
        &:hover { color: v08 }
      }
    }

    .bulle { border-color: bg5 }
  }

  .odd { background-color: bg2 }

  .status {
    &_red {
      background: v16
      color: v99

      // padding spreads to all below
      padding 2px
      rad: 2px
    }
    &_green {
      background: v42
      color: v99
      rad: 2px
    }
    &_yellow {
      background: v34
      color: v99
      rad: 2px
    }
    &_orange {
      background: v26
      color: v99
      rad: 2px
    }
  }

  .warning {
    background: v11
    border: 2px dashed v15
    tsh: 0 1px 0 v10
    rad: 4px
    #warning_text, p b {
      font-size: 1rem
      letter-spacing: .15rem
      margin-top: -.6rem
      margin-bottom: -.8rem
    }
  }

  // Help / Wi-viz / bulle aka tooltip
  div {
    // HELP
    &.also {
      background: bg3 i
      border-color: bg4 i
      rad: 4px
    }
    .bulle {
      background-color: bg5
      color: v99
    }
    // Purple note
    &.note {
      background: v71 i
      border-color: v75 i
      margin-top: .5rem
      rad: 4px
    }
    // Wi-vis
    &.gridpoint { background-color: fg1 }

    &.slidingheader {
      background-color: v04
      background-image: none
      border: 1px solid v06
      rad: 4px
      &:hover {
        background-color: v07
        background-image: none
        border: 1px solid v07
        color: v99
      }
    }
    &.slidingbodyshow {
      background-color: bg2

      center { border-color: bg5 }
    }
    &.slidingbody { background-color: bg4 }
  }

  // Wi-viz client MAC bg
  span.title3d {
    background-color: bg0
  }

  // Setting labels
  .setting {
    // inline style
    span {
      &[style*='color:#999999'] { c: v96 0 0 }
    }

    .default { color: v96 0 0 }
  }

  a {
    color: v08
    &:hover, &:focus-within { color: v09 }
  }

  h2, h3 {
    background: bg5
    border-color: bg5
    color: fg1
    letter-spacing: .95px
    rad: 4px
  }
  h2 {
    // align text to visual middle of bg
    padding-bottom: .3rem
  }

  // Submit options button footer
  .submitFooter {
    // BG color was decided to increase contrast in NAS tab placement of submitFooter bg over bg
    background: bg0
    border: 1px solid bg4
    color: v98
    rad: 4px
    .button {
      padding: 0 1rem
      margin: .362em
      height: 1.533rem
    }
  }
  // Meter
  .meter {
    background-color: bg4
    border-color: bg5
    .text {
      color: v98
      tsh: 0 1px 0 v90
    }

    .bar {
      background: v05
      rad: 2px
    }
  }

  // DD_WRT bottom link spacing
  .center a[href='http://www.dd-wrt.com/'] {
    line-height: 2.2rem
  }

  // Images + nav
  #header {
    // Help header
    background: bg2 i
    // DDWRT logo
    #logo {
      filter: contrast(1.2)
      mix-blend-mode: lighten
    }
    .logo {
      filter: invert(.95) hue-rotate(180deg)
      mix-blend-mode: lighten
    }
    .navig {
      top: 4.737em
      a {
        color: v09 i
        &:hover, &:focus, &:focus-within {
          color: v08 i
        }
      }
    }
  }

  // DD-WRT logo in about dialog
  [src*='dd-logo.png'] {
    filter: invert(.95) hue-rotate(180deg)
    mix-blend-mode: lighten
  }

  // Fix Hotspot images these are outdated and bad quality
  /img {
    &[src*='hotspotsystem'] {
      prefix = 'data:image/png;base64,'
      path   = 'iVBORw0KGgoAAAANSUhEUgAAAKoAAAAYCAMAAABdqpbOAAAAk1BMVEVMaXFlaGhkZmhkZmhkZmhkZmhk'
      path  += 'ZmhkZmhkZmhkZmhkZmhkZmhkZmhkZmhkZmhkZmhkZmhkZmhkZmhkZmhkZmhkZmhkZmhkZmhkZmh5q195'
      path  += 'q195q195q195q195q195q195q195q19kZmh5q19poUv///97rGGNt3dzp1dfmz+BsWnH3Lyxz6KhxI7t'
      path  += '9OnR4si61KxjNDtqAAAAInRSTlMABYk87xdJ5xH4Mcymf1jWKMKyZQsg4HKW69Z0sidjGaJOUN6puAAA'
      path  += 'BA5JREFUeF7Vl2l3qzgMhl8bYzC72dOmyyhJ1+Xe///rJhKmSXtmzunH9P2CEZL8IGQDCLq53l5tNlfb'
      path  += '6xtctm7ud6s293e4YN1udmfa/IOL1fXum24vtqa73cNuv396eHhYWS+0rnfMtn9/fXnaP6+4m8vs1+2x'
      path  += 'qPuXw+HP8+P70+5pL6z3EPVxrPiYxj3kmEUNH1WcstgsxkGcFyNC6NGVY1UaXFMxiuvAJ5J2SIEhylI5'
      path  += 'CZ6SXZJzyjh4xiludoz6eDi87j8Ob89PO2ENZZ2c6QDEtfMKSPVI5HwFWJOIjIfSCZFrqx6tGMeZYfqy'
      path  += 'JiLfAVESXHOFUuI71TozAbCjGfuhcETJHMW1CZ79tIzMjNklpgTQjMbUuF5R/74ccZ8/Ph6ZNawsTTQx'
      path  += 'qqNRYahp0YyKggyKMKqQh1ESI13HBSytgg6DriGiAaiJKpWERA2tSqcwyCV5oiCRDttP1IfD4U0a4dQB'
      path  += 'JSMAfUI14InGqePoKtVlQVSXuoqIfNW1VMfw5OaSC1+iJTJlNxPR1Gs9O0q0ZsDcVgUlDect0BG1DDHb'
      path  += 'KSfdl1on5GZ9HBG1xzNdCSpZqJGRcfUd9VVQr85Q2bXm8iQDgImjgJhng8zXA1kDeDIAIqJiIDIZwMV3'
      path  += 'PdAb8ourT4EogxTU1lxaT9QpwMpayCUz40cQFWdPJsHmf1BVQB197nNHOWaiDqxcMmVcEyEjqgsLRnU2'
      path  += 'HjSR7riyrJZrgsZQDkAe8VhUWMNokhnI5TPjQ9Vk4gU1L9q27VCQ8eQwU57/APXUN+FembkKqHIm8twA'
      path  += '5IwjoiY8DEDLIKAi9GA9hLBc4bOrZ/UFVdSioCRKqMupmn/QAHJ/UtUwPyPZEyqyYmS+gu0sV0KvD6D4'
      path  += 'gopsFtd86SnKwKq8rKzuC2rtva8njm8Kzjm0lPxoWUmvVssciByZ9IRqB2CYHI1oyempnDKwa91DGGk4'
      path  += 'oWYDEHeOHPP4BQtW7pao+IJqP3s1s1xfxQ3wfbM6vJ9tVuVSnpR3AN5W2qjpDJHGJ+rgXNnElm+jJdND'
      path  += '1I9EPmqqUQhW1HgkncWRW9xyco2svLoaUm7wL6g6stZmggqz7ITJ+SvgiHt8tQrp7g6s8CRjQ7WCdbTI'
      path  += 'qxOqpqCOJ8+wKDPBmqeM6ig/b/wSJ9SRRHLSf+tVz6gWMxmFmgywFdSzFyuj3uPbKyBRgM0l6dyHNez5'
      path  += 'kpZOM6VsQCsqIi+uRYxl6dcA0nJc4sEK3lErBajtsn27sORELVouqKWCW9BByrrbv/15/I/PlcFankxF'
      path  += 'doGIuqkaIOoj24AV22DMbNTjU9nR2gTXNTy1wXju3VRTZ/vVpmTWiGUbNDZKAZvKpdNH4P78I/DXfFpf'
      path  += '/5oflltcsG62J9KL/Q38RT/X/wKcGag52EipmgAAAABJRU5ErkJggg=='
      ry     = 'no-repeat'

      background: s("url('%s%s') %s", rq(prefix), rq(path), rq(ry))

      background-size: 170px
      padding-left: 170px
      padding-top: 25px
      margin-bottom: -10px
      margin-top: -5px
      height: 0
      width: 0
    }
    /[src*='wifidog'] {
      prefix = 'data:image/png;base64,'
      path   = 'iVBORw0KGgoAAAANSUhEUgAAAMgAAAAwCAMAAABjR8XYAAAC9FBMVEUAAAD////////////////////+'
      path  += '/v4CAgL///////////////////////8QERD///////////////8YGhj///////////8CAgL/////////'
      path  += '//////+QkJD///////////////////////8rKyv////////+/v7///8JHAn///////8AAAABAQH19fX9'
      path  += '/f3///////////////87Ojv///////8AAAD///////+UlJT///8UFBT///8BAQEAAAD/////////////'
      path  += '//////////////////+UlJQMDQwAAAAAAAD+/v4AAAD9/f0AAAD///+Tk5MEBAT5+fkAAAC2trYAAAAA'
      path  += 'AAD///8AqQAAAAADAgMFBQX////V1dUA5ADV1dXAwMAAtgCPj48AAAAAyAAAAAAApQD///8AAAAAdwCZ'
      path  += 'mZlUVFQAAAD///8MDAwYGBgaHBoPDw8A+ADf39/9/f0AAAAA1gAAAAAAAAA5OTnU1NS2trZISEjt7e3W'
      path  += '1tb////BwcHe3t42NjYAygClpaW/v7+CgoKlpaUyMjIsLCy8vLwA4AA6OjoA/gAA2AC1tbUAswDd3d26'
      path  += 'urrNzc0AdACJiYlGRkZEREQRERHT09MJKQnw8PDk5OQ3NzcA9QAA1ADLy8t5/3nBwcHo6OgAQgDCwsKk'
      path  += 'pKR56XmgoKAA2gAAqAC7u7vo6OjV1dXCwsLZ2dkAQQDx8fHT09PT09MAYAC/v796enq2trZhYWFYWFi9'
      path  += 'vb1CQkLj4+MAwACRkZE9PT155nk6Ojp5zXn////f39/5+fkjIyNHR0f19fXd3d2EhIRSUlI4ODgyMjLq'
      path  += '6url5eXLy8ucnJz7+/vQ0NCvr69ycnJYWFhDQ0M/Pz8wMDAoKCgdHR3y8vLGxsa8vLykpKR7envU1NSz'
      path  += 's7OZmZmVlJV/f39dXV3BwcGqqqqgoKCOjo6JiYkXFxfv7+/Y2Nhvb29nZ2dNTU01NTUBAQG3trdgYGB2'
      path  += 'dnZqamrn5+diYmLDw8ORkZGd/A7kAAAAw3RSTlMA+tQwBtz+EA0C7N/1qwTl4r2gCunKecu3hWVXHM7E'
      path  += 'inBeNv6BRy0cGxnykTUVC/emmn3+77B0PxYWEdnY1KpzaFpTTDonHgbxtoBjWFAqIw7i38G2opiSakbm'
      path  += '3LSCeWBeXlRSUU1EQ0A4My0iCP337uutlo+MbmZgUi8mEbCnlpGLd2lGLSod+vSqqZCLi4V3aVpSSUI2'
      path  += 'GN/b1cmpqJuamX58d3Nra2hmY1RTS0hBO+jX183Ivr65ubm4sKCGZV5FRTfV2MT7AAAKvElEQVR42t3a'
      path  += 'A3hkS97H8X873Wl3x7btTGxzbOPatm2sbb62f7FtG2Oud+uck2Q6mbnO3Sd5P4NU1dP6PnUqpv+P/vub'
      path  += '33ztmYdvpTX+95mHTbSZKHZPdU12195pF6sgC8F3nKu1u402Ea3dLJgzI7XbLTv2zAENdgraRIoG6sFp'
      path  += 'ubOI69Lya7vnwcxsp80ktqYLnOE7C4Ly7ezyU4K2DfwOnKHmY7SZHLNrbAPT9tupkc7Oka72niY5ONVX'
      path  += 'CmhTMcXWyGGpqw7MxMvbFLS5lDTLcaOF5Nhj/rSpbJ/GjVpGvRou3B20OsX/Zzt/tnHjTt7Zihstnu4D'
      path  += 'qs6Vn6QV2rfueX3/6/e8paUNyZQ8ipuoHhmYA9CVd4yWvfGtZ3ce2vnst96gDemhC7i50YsdAGbzgknw'
      path  += '3qvPvnfq+KlDD7z6P7QRpczh5uq8hsHMJyuWNmT/oeNH/Y8eP7T/u7QRVbbhBvJqMFfGwLm2jXjf3nn8'
      path  += '6K5YOvreAz+mjWhbO25Q3dctB+ai5GCGvI4IIc8eP5q823T0+AYNOdIoxw26BwG0Ln0eNrJHQcx/7v/p'
      path  += 'D2ru2nlqo15aBc0duEF9f2ML0NgNXn/+bUR06p4H8qa+dmrn/nv+jzag2IGzWIuVtfTUnMX46WEwi01j'
      path  += 'dxeYiHb+zdjlr/30gXveog1o12A9VqmeuFJ7jZVgerAKvx8YAtDUhfEeO38qaKru/ofXXz1EPH+GiB5z'
      path  += 'dnZWEpWxN7nsvwRibjl8+JaEBH4iYGNn+lIpkieuJwBoXehvHuvqlIPp7q9D7VUAjb8H0GCXEtXa4fWD'
      path  += 'UyYSPFFdXf0I5dqIRKJMInuRKNDPKBKJrUgaAcbbIBK5SEnAxjIlfZkevIAVY31Xar1qu6qxRN53FeM1'
      path  += 'LcBkL5jft9dhopJW7ANwgJ7nmp+k2/WANe0FdFbkA46TC6BfDnFl4y81RFt5GSuq5htGz8LC+OlONM0C'
      path  += 'rYOdgPCO+BiteB/AU/RDMC5K3zBAQyccHTOk5A4g1Tc0k02U10Osv9SQ2+46g48x3Y6m3wHobgRT39i0'
      path  += 'na5zVgEx9DgYkZ8PgFTKTHX3kDoZuD1KJyd3dw8lkWeEfYTEIITc7mS0t7/vBHHeeeXfnnr052++eZjW'
      path  += 'Q3AtPl4nd2mhZfAygKHTsVqyYANUOFeAk+4OwIf2AtahNuDISMwmUnIKAxCo4kNyXMGLkBLdC0avB/6R'
      path  += '1sOuPnysquYxcNq9qgFMF5Cle4FAdxHMLkC4kY0DSAOIQ13BSeI6xcpEMwQsRGoAoFcB8KZfYdlWWg/5'
      path  += 'lzrxkcYnG2vOdYAXtQjgbLmCLBwA1EmAwQPQmwEb4kOsJEYAtll8CGUCMGTdJwes6QRYcYivDNCFfh/A'
      path  += 'vY/eu14hRX3dF3+D1WYXqsDUTzf1X2gYx5KRgTMAao+QhVtE4HgHqMHZsRRCqQA8iVzYhB/7ECVxIZHC'
      path  += 'uhuAR1iCOoHKVOsToiifxUxNz/nG2tqZnsaZ82OL7ZO/vdQ3XNc62lMTNdgKC1FzAObzyUJZBTg+ZANO'
      path  += '4XKILYA4ixBP/jhZ8wWlRN5cyNNCiHl9QoLOA2hbaGgfuXqpYW6q4dpMT8/5Cxf7mmt6G+rROw0LY9xt'
      path  += 'z9xZQhYeB6OKp/vAyCU3C3ECYEu+gVyII4A0/kbqkLcB3Mdy1iUkeLAFgomv2E1iWWtbJ79+9vQUViz0'
      path  += '9vA5QWRhH5i9RD5g9KE3C/FTA3JXHbgQv2hAZbsDgD29yMaQY11CtJXtELTlldx29wTWajvdgGUzUXxI'
      path  += 'Vd5DdN1zYNyJ4lUAYogoBpBZ8WfhBJGYTaTCbkEN6JTkAYE+m+jnagCu63JpHeuvBq8j6kGiXXlzN/kg'
      path  += 'cm0lpOYcOMP9Fnvy4t9/9at/50tERplMxoJoh0xmH0ppbObJqthESlYRqjCVW6RMZlAS+RhUYWqdsZQo'
      path  += 'N/eWwsiDCXrgn+mLyp+HoMtOS0Qny0exVmvzTAd41y6NgtfSFEufjZ/Ez3LiG0LMgb99/MlH6HkR8Ap9'
      path  += 'QSU1dRDUFhEnOG/qDNYYqpkAb/FSFQTjdyvoi3sOgO7xCgCH6Qt68DwEbXtMxEse6O/uxGoNV5a/NYRl'
      path  += 'jUX0xeV+A4LvaOkLCpq8PAlG3hhLgu0Nbb8duPA7AHVV9VWCqV45OLN9HVgyFUSrWXl6WtHHkN5OpVkB'
      path  += 'a0uKn7S3t9/xC1pFa6Ilt37wGK3B1hT8TVbbftprHkzVHSdJUPIy0NpQ093Q67Vl2VeihID6658BdG2j'
      path  += '1fYB++ijZdr4Ujhs6VMotpGQQGkND1rLFQfpXddbaJWy5OkhCCFHiKcIeqkOQL1X5cnbFAKTKXgppK75'
      path  += '7EpIyppHsgaSyogXIpFwm1PKvZEGWFlJEinHDB9phltcfICUEgOsKF7iKxU2MkBamk1Eob7sxsr4xMTs'
      path  += '7Gh2U+4x/EipXwrJlmQTu1+oMj5eWejwfEggfqkk0623ruzX+80QyNv3lPAddudawbmcQstM/kVRcvD6'
      path  += '27Bkbs2OvIuKCvySOE56QOYj1YjC1OJsidnFWi4OMAKidG9ZWoQ5TemqykrXicJcc4iJMNuIAiPJUwwk'
      path  += 'xd0ulolFekCUkR4tUqvcSdiR2yOiVaJwqxhzoZ8uKd4oe3cvIHrh1iSRSPY+CQ7XQjDcvphCzP3n5ntH'
      path  += '+IV84imKKu96+aV5rA1ZLKBVnsDb+/AEMTmBMBrDjDlGg6MLHCSAvTXcCgOh8TTC3Qn2EoglargbYSBG'
      path  += 'A1UMwiQ22BsD61IddA62anbTVIPtDoitZHyIBNHeGtt4V7jnIDCAXVo/UuOVR13wne9BF0K8F+5oAdra'
      path  += 'gfHBibu482O32D8xhPo6TG0njv+e5su/qauGYKi5Hkuu3k+WPozGf3wDqgQi8oE1USJR4d6kaOyQIJDc'
      path  += 'YVDK4EfhSJWazRo4xkFkcAnTxROxtUjSwTYafokiZMrgRFIdcijLKNavhIRq1NBFhLiiMECuCjDgHdIh'
      path  += '4UU5vv51tSiLBEG9VdXd5wFcaUrWcvM7+urQ0nR2yGsXcR7q/c25SSwb9jqDJSP5ZOlH4L1NRFlQn4jT'
      path  += 'OBQjMFMDNwlEThrEWOmRIeUOuxugsvKEKC3NIS2UD7EvVsNDB49MudrTGj4UYkZxoh7eaSshiRluqXqk'
      path  += '28PoDTMXkmvGL15UYd9Bh++HkMB0/90vlXsNo67p/tuIUTy4baDnrt0XLgYRL3Zh7GLrbBUEM4O9o3Lw'
      path  += 'Ou20dJ1WDPtf/9oGLlIiqQaMmyfgGo0YCTjpShvAKRze5AtEkNQInUpkS3wIIw61BeNgpUYxScVAIXso'
      path  += 'a4TlmOFIRJ4iGMJUpW6AHHI/GxykJOC5H0JVgSdyaZl/sOLB8trm62c7+EiJ4sjJle/c1dTJB2bBW9jz'
      path  += '5j8NVqMazEilZYjpJwceJXr+wAEpdzY9HBwyiNIdIrMcM+OgT/NmM4m3g2+co4So2DGHxTq6uTkphZAI'
      path  += '98hStuzG7iNNd/Tjb5rt6+3m4+QY4uSYTUxc5I5IXwqxjcxy8gh97r9eoFscHF6gw08//ZM1H2YUu4Lp'
      path  += '5rQFee2jzeDU/za5hIJPD083nQGq+x6iT+UEVEr6GDGwpb+O4BS73bXTC1d7d9/PfUR9qPzSpcn68cYU'
      path  += 'LX0qjz71vVz6GAef+hX91Xz48DPsd4c+JN5jHzz87//yr6+ZaMP4Cwrrnwx/O+uDAAAAAElFTkSuQmCC'
      ry     = 'no-repeat'

      background: s("url('%s%s') %s", rq(prefix), rq(path), rq(ry))

      background-size: 150px
      padding-left: 150px
      padding-top: 40px
      margin-bottom: -16px
      margin-top: -8px
      height: 0
      width: 0
    }
  }

  // Hide hotspot logos, this doesnt fix the top margins,
  // its impossible to pick .center for these without picking all unrelated .centers
  if (!(hide_hsl)) {
    /img {
      &[src*='sputnik'],
      &[src*='hotspotsystem'],
      &[src*='wifidog'] {
        display: none
      }
    }
    a[href*='hotspotsystem'] {
      display: none
    }
  }

  // Paypal logo inversion
  [type='image' i][src*='paypal'] {
    background: t i
    border-color: t i
    filter: invert(.9) hue-rotate(180deg)
    margin-bottom: -.5rem
    height: 54px
    width: 90px
    mix-blend-mode: lighten

    &:hover, &:focus, &:focus-within, &:focus-visible {
      background-color: t i
      border-color: t i
      bsh: none i
      mix-blend-mode: exclusion
    }
  }

  // Wi-viz survey
  .logo[src*='wiviz'] {
    filter: invert(.95) hue-rotate(180deg) contrast(1.6)
    mix-blend-mode: lighten
  }

  .controls {
    /img {
      /[src*='wiviz'] {
        background-color: t
        filter: invert(.95) hue-rotate(180deg) contrast(1.6) opacity(.5)
        mix-blend-mode: lighten
      }
      /[src*='up'], /[src*='down'], /[src*='zoom'], /[src*='reset'] {
        &:hover, &:focus-within {
          background-color: t
          filter: invert(.95) hue-rotate(180deg) contrast(1.6) opacity(1)
          mix-blend-mode: lighten
        }
      }
    }
  }

  svg { shape-rendering: geometricPrecision }

  // Bandwidth graph
  /#graph {
    text {
      &[fill='green'] { g: v45 0 }
      &[fill='red'] { g: v16 0 }
      &[fill='#435370'], &[fill='#2e81c9'] { g: v68 0 }
      &[fill='blue'], &[fill='#2e81c9'], { g: v65 0 }
      &[fill='gray'] { g: v96 0 }
    }
    path {
      &[stroke='red'] { g: 0 v16 }
      &[stroke='green'] { g: 0 v44 }
      &[stroke='gray'] { g: 0 bg5 }
      &[fill='green'] { g: v46; fill-opacity: .4 i }
      &[fill='red'] { g: v16; fill-opacity: .4 i }
    }
    line {
      &[stroke='black'], &[stroke='#111'] { g: 0 bg5 }
    }
  }

  // Traffic graph
  #t-graph {
    background: bg0
    border: 1px solid bg5
    color: fg3

    li {
      &.day {
        border-right: 1px dotted bg5; color: fg3

        &_sun { border-right: 1px dotted bg5; color: v16 }
      }

      .rcvd { background: v43; outline: 1px ridge v44; outline-offset: -2px }
      .sent { background: v15; outline: 1px ridge v17; outline-offset: -2px }
      .bar { color: var(--rgba-bg-05); outline: 0 }
    }
    #ticks .tick { border-bottom: 1px solid bg5 }
  }
  // add t-graph iframe body background target
  .t-graph-bg {
    background: bg2
  }

  .overlay {
    &_dialog { c: 0 0 bg4 }
    &___invisible__ { background-color: bg4 i }
    &_ddwrt {
      c: 0 0 bg3
      opacity: .5
    }
  }

  // experiment
  [id*="modal_dialog_"].dialog {
     border: 1px solid bg3
     rad: 4px
  }

  .dialog {
    &_ { filter: invert(1) }

    &_content {
      color: fg1
      background-color: bg0
    }
  }

  // Progress dialog popup when applying settings
  .ddwrt {
    &_content {
      background: bg1 i
      color: v98 i
    }

    &_progress {
      mix-blend-mode: lighten
    }
    &_message {
      padding-top: 1.5rem
    }
    &_title, &_window { display: none }

    &_nw, &_n, &_e, &_sw, &_ne,
    &_w, &_s, &_se, &_sizer { background: bg1 i }

    &_nw { rad: 4px 0 0 0 }
    &_ne { rad: 0 4px 0 0 }
    &_se { rad: 0 0 4px 0 }
    &_sw { rad: 0 0 0 4px }
  }

  // Progress bar when e.g. reboot
  .progressbarblock {
    background-color: v09
  }

  // Better checkbox/radio inputs.
  /input {
    border: 1px solid bg4
    bsh: 0 1px 1px var(--rgba-bg-075)

    transition: transition
    padding: 7px
    line-height: 1.4em
    height: .7rem
    &:hover, &:focus, &:focus-within, &:focus-visible {
      background: v01
      border-color: v08
      bsh: 0 0 6px 0 v03
      outline: 0 i
    }

    -moz-appearance: none
    -webkit-appearance: none
    appearance: none

    rad: 4px

    prefix  = 'data:image/svg+xml;utf8,'
    prefix += '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">'

    &[type='radio'],
    &[type='checkbox'] {
      &, &:hover:active {
        //c: v95 bg5 bg1
        background-color: bg1
        border-color: bg5
        bottom: .1rem
        background-size: cover
        cursor: pointer
        position: relative
        height: .88rem
        width: .88rem

      }
      &:disabled, &:hover:active:disabled, &:disabled:hover {
        c: v95 bg5 bg4

        opacity: .7
        cursor: default
      }
      &:checked {
        &:focus, &:focus-within, &:focus-visible {
          c: 0 v09 v01
          bsh: 0 0 10px 0 v04
          outline: 0
        }
      }
    }

    &[type='radio'] {
      vertical-align: -.32rem
      // fix border radius at https://github.com/settings/profile Emoji color
      rad: 50%
      &:checked {
        path = '<circle cx="256" cy="256" r="128" fill="' + to_hex($v99) + '"/>'

        background-image: s("url('%s%s</svg>') %s", rq(prefix), rq(path), i)
        c: 0 v07 v07
        padding: 7px
      }
      &:hover, {
        c: 0 v08 v03
        bsh: 0 0 8px 0 v04
      }
    }

    &[type='checkbox'] {
      vertical-align: -.488rem
      rad: 2px
      &:checked {
        path ='<path fill="' + to_hex($v99) + '" '
        path += 'd="M99 213l-1 89 104 102 205-201v-91L203 315 99 213z"/>'

        background-image: s("url('%s%s</svg>') %s", rq(prefix), rq(path), i)
        c: 0 v09 v05
        rad: 3px
      }
      &:hover {
        c: 0 v08 v03
        bsh: 0 0 8px 0 v04
      }
    }
    &[type='number'] { } // TODO: style spinbox
    &.num[name*='lease'][size='10'] { margin-right: 4px } // TODO: style spinbox
    // Style file browse button
    &[type='file'] {
      margin-top: -.3rem
      height: 1.4rem
      max-height: @height
      &::file-selector-button {
        background-color: bg5
        border: 2px solid bg5
        color: v98

        rad: 4px
        padding: .18rem .4rem
        margin-top: -.02rem
        transition: transition
        tsh: 0 1px 0 bg0
        cursor: pointer
        &:hover {
          background-color: v06
          border: 2px solid v06
          bsh: 0 0 10px 0 v04
          color: v98
        }
      }
      &::-webkit-file-upload-button {
        background-color: bg5
        border: 2px solid bg5
        color: v98

        rad: 4px
        padding: .18rem .4rem
        margin-top: -.02rem
        transition: transition
        tsh: 0 1px 0 bg0
        cursor: pointer
        &:hover {
          background-color: v06
          border: 2px solid v06
          bsh: 0 0 10px 0 v04
          color: 98
        }
      }
    }
    &[disabled] {
      opacity: .6
    }
    /.off {
      background: bg2
      opacity: .99
      input {
        color: v94 i
        border-color: bg4
        background-color: bg0
        opacity: .5
        /.num.off { opacity: .5 }
      }
    }
  }

  if (chkbx_toggle) {
    [summary="week days table"] {
      margin-left: initial
    }
    // Better checkbox/radio inputs.
    /input {

      prefix  = 'data:image/svg+xml;utf8,'
      prefix += '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">'

      &[type='checkbox'] {
        path = '<circle cx="256" cy="256" r="120" fill="' + to_hex($v99) + '"/>'
        background-image: s("url('%s%s</svg>') %s", rq(prefix), rq(path), i)
        c: 0 bg5 bg1
        background-position: 42px center
        &, &:hover, &:active {
          cursor: pointer
          background-size: cover
          position: relative
          height: .95rem i
          width: 1.61rem i
          vertical-align: middle
          rad: 10px i
          bsh: none
        }
        &:disabled, &:hover:active:disabled, &:disabled:hover {
          c: v95 bg5 bg1
          opacity: .6
          cursor: default
          bsh: none
        }
        &[name='internetSpeed'],
        &[name='wifiSpeed'] {
          height: 2.233rem i
          width: 4rem i
          position: absolute i
          left: -.4rem
          top: .2rem
					margin-left: 20px i
        }
        &:checked {
          path = '<circle cx="256" cy="256" r="120" fill="' + to_hex($v99) + '"/>'
          background-image: s("url('%s%s</svg>') %s", rq(prefix), rq(path), i)
          c: 0 v09 v05
          background-position: 29px center
          rad: 10px i
          &:focus, &:focus-within {
            c: 0 v09 v05
            bsh: 0 0 10px 0 v04
            outline: 0
          }
          &:focus-visible {
            c: 0 v09 v02
            bsh: 0 0 10px 0 v04
            outline: 0
          }
          &:disabled, &:hover:active:disabled, &:disabled:hover {
            c: 0 v09 v05
            bsh: none
          }
        }
      }
    }
  }

  .row[role='controls'] { border-color: bg4 }

  .progress {
    background-color: bg4
    -webkit-box-shadow: inset 0 1px 2px var(--rgba-bg-01)
    bsh: inset 0 1px 2px var(--rgba-bg-01)
    rad: 4px
    &-bar.odd {
      background-color: v08
    }
  }

  // Better select element styles.
  /select {
    // Custom select dropdown icon.
    prefix  = 'data:image/svg+xml;utf8,'
    prefix += '<svg width="14" height="14" viewBox="0 0 14 12" fill="' + to_hex($v97) + '" '
    prefix += 'xmlns="http://www.w3.org/2000/svg">'
    path    = '<path d="M6 9a1 1 0 0 1-.707-.293l-3-3a1 1 0 0 1 1.414-1.414L6'
    path   += ' 6.586l2.293-2.293a1 1 0 0 1 1.414 1.414l-3 3A1 1 0 0 1 6 9z"/>'
    xy      = 'no-repeat right 3px center'

    background: s("url('%s%s</svg>') %s", rq(prefix), rq(path), rq(xy) i)
    background-color: bg0 i
    border: 1px solid bg4
    bsh: 0px 1px 1px var(--rgba-bg-075)
    color: v98

    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    max-width: 100%
    outline: 0
    padding-right: 1.5rem
    vertical-align: middle
    > option {
      background-color: bg0 i
      &:hover {
        background: v04 i
        bsh: 0 0 10px 100px v06 inset i
      }
      /[selected] {
        background-color: v06 i
        bsh: 0 0 10px 100px v06 inset i
      }
    }
    &:focus, &:focus-within, &:focus-visible { c: 0 v08 v01; bsh: 0 0 10px 0 v04 }
    &:hover {
      prefix  = 'data:image/svg+xml;utf8,'
      prefix += '<svg width="14" height="14" viewBox="0 0 14 12" fill="' + to_hex($v99) + '" '
      prefix += 'xmlns="http://www.w3.org/2000/svg">'
      path    = '<path d="M6 9a1 1 0 0 1-.707-.293l-3-3a1 1 0 0 1 1.414-1.414L6'
      path   += ' 6.586l2.293-2.293a1 1 0 0 1 1.414 1.414l-3 3A1 1 0 0 1 6 9z"/>'
      xy      = 'no-repeat right 3px center'

      background: s("url('%s%s</svg>') %s", rq(prefix), rq(path), rq(xy) i)
      c: 0 v08 v01

      transition: transition
    }

    &[disabled] {
      prefix  = 'data:image/svg+xml;utf8,'
      prefix += '<svg width="14" height="14" viewBox="0 0 14 12" fill="' + to_hex($v93) + '" '
      prefix += 'xmlns="http://www.w3.org/2000/svg">'
      path    = '<path d="M6 9a1 1 0 0 1-.707-.293l-3-3a1 1 0 0 1 1.414-1.414L6'
      path   += ' 6.586l2.293-2.293a1 1 0 0 1 1.414 1.414l-3 3A1 1 0 0 1 6 9z"/>'
      xy      = 'no-repeat right 3px center'

      background: s("url('%s%s</svg>') %s", rq(prefix), rq(path), rq(xy) i)
      c: v94 bg4 bg0

      opacity: .5
    }

    // QoS fix service name table width due to custom select menus.
    &[name='ServiceTable'] {
      // dont show arrow select arrow in this dialog
      background: none i
      background-color: bg0 i
      border: 1px solid bg4
      width: inherit
      height: @width
      option {
        width: 200%
        &:hover { background-color: v02 i }
        &:checked {
          background-color: v05 i
          bsh: 0 0 10px 100px v06 inset
        }
      }
      &:hover {
        // dont show arrow select arrow in this dialog
        background: none i
        background-color: bg0 i
      }
    }
    &[name='erase'] {
      margin-bottom: .4rem
    }
  }

  // improve trash bin
  .remove {
    prefix  = 'data:image/svg+xml;utf8,'
    prefix += '<svg viewBox="0 0 16 16" width="16" height="16" '
    phil    = 'fill="' + to_hex($v97) + '" xmlns="http://www.w3.org/2000/svg">'
    path    = '<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>'
    path   += '<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>'
    xy      = 'no-repeat center/15px'

    background: s("url('%s%s</svg>') %s", rq(prefix) rq(phil), rq(path), rq(xy))
    border: 0
    box-shadow: none

    &:hover, &:focus-within, &:focus-visible {
       phil    = 'fill="' + to_hex($v19) + '" xmlns="http://www.w3.org/2000/svg">'
       background: s("url('%s%s</svg>') %s", rq(prefix) rq(phil), rq(path), rq(xy))
       filter: saturate(4) contrast(2)
       border: 0
       box-shadow: none
    }
  }
  .add {
    prefix  = 'data:image/svg+xml;utf8,'
    prefix += '<svg viewBox="0 0 16 16" width="16" height="16" '
    phil    = 'fill="' + to_hex($v97) + '" xmlns="http://www.w3.org/2000/svg">'
    path    = '<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>'
    path   += '<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>'
    xy      = 'no-repeat center/15px'

    background: s("url('%s%s</svg>') %s", rq(prefix) rq(phil), rq(path), rq(xy))
    border: 0
    box-shadow: none

    &:hover, &:focus-within, &:focus-visible {
       phil    = 'fill="' + to_hex($v49) + '" xmlns="http://www.w3.org/2000/svg">'
       background: s("url('%s%s</svg>') %s", rq(prefix) rq(phil), rq(path), rq(xy))
       filter: saturate(4) contrast(2)
       border: 0
       box-shadow: none
       -width: 2px
    }
  }

  // Increase speedchecker iframe height to fix a bug
  // where the city/town dropdown is cut off with max entries showing
  iframe[height='250'][src*='speedchecker'] {
    height: 293px
  }
}
@-moz-document regexp('https?://oidsearch.s.dd-wrt?.com(/.*)?') {
// oidsearch.s.dd-wrt.com
  body {
    background: bg0

    // Hide overflow, cant imagine this being needed here
    overflow: hidden
    &.gui {
      background: bg0
    }
    fieldset {
      // Theres missing margin here add it
      h2 { color: fg1; margin-top: .5rem }
    }
    #content {
      background: t i
      border: 1px solid bg0
      color: v98
    }
    #main #contents { background: bg0 }

    // If you navigate to https://oidsearch.s.dd-wrt.com/ you will see this
    // design tweaks because it looks better in this use case.
    .warning {
      padding: 0 0 5px 0
      #warning_text { font-size: .8rem }
    }
  }
}
@-moz-document regexp('^https?://(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)){3}(\/.*)?$'),
/*-----------*/regexp('https?://speedchecker.dd-wrt?.com(/.*)?') {
  // speedchecker.dd-wrt.com
  body {
    background: bg2
    color: v97
    &.gui {
      background: bg0
      color: v96
    }
  }

  .help-block { color: v69 }

  // Remove BG from h2 on speedchecker only.
  .row h2 { background: t }

  // Speed checker registration
  .form {
    background-color: bg1
    border-color: bg4
    bsh: inset 0 1px 1px var(--rgba-bg-075)
    &-control {
      border-color: bg4
      color: v96
      &::placeholder {
        color: v93
      }
      /input {
        &[type='search' i] {
          background-color: bg1
          border-color: bg4
        }
      }
      &:focus {
        border-color: v04
        -webkit-box-shadow: inset 0 1px 1px var(--rgba-bg-075), 0 0 8px var(--rgba-ac-06)
        bsh: inset 0 1px 1px var(--rgba-bg-075), 0 0 8px var(--rgba-ac-06)
        outline: 0
      }
    }
  }

  .pac {
    &-container {
      background-color: bg3
      border-top: 1px solid bg4
      bsh: 0 2px 6px var(--rgba-bg-03)
      filter: none
    }
    &-item {
      border-top: 1px solid bg4
      color: v96
      &:hover { background-color: bg3 }
      &-query { color: v98 }
      &-selected, &-selected:hover { background-color: bg4 }
    }
    &-logo {
      &::after {
        filter: invert(.95) hue-rotate(180deg) brightness(1.3)
        mix-blend-mode: lighten
      }
    }
  }

  .jumbotron {
    background-color: bg3
    color: v98
    > hr { border-top-color: bg5 }
    h1, .h1 { color: v98 }
    // visist https://speedchecker.dd-wrt.com/
    h1 { text-align: center; margin: .17em 0 }
  }

  .input-group {
    &-addon {
      background-color: bg1
      border-color: bg4
      color: v97

      height: 3.1rem
      input {
        /#formLocation {
          background-color: bg0
          height: 3.1rem
        }
      }
    }
    /.help-block[style*='red'] { c: v16 0 0 }
  }

  // Speedchecker - checkbox tweaks dues to custom checkboxes
  input {
    &[type='checkbox'] {
      &[name='internetSpeed'],
      &[name='wifiSpeed'] {
        padding: 7px
        position: absolute
        bottom: .2rem
        height: .88rem
        width: .88rem
        rad: 2px
        &:checked { rad: 3px }
      }
    }
    &[type="button"][name='startTest'] {
      height: 2.4rem
      bottom: -.3rem
      position: relative
      padding: 0 1rem
    }
  }
  // Fix speedchecker select
  .form-group {
    #formSpeed, #formConnection {
      height: inherit
      width: 100%
    }
  }

  // place this better within dd-wrt
  .row {
    &[role='results'] {
      margin-top: 35px
      margin-left: auto
      margin-right: auto
      [role='title'] { font-size: 1.5rem }
      [role='internetSpeed'] { margin-right: 40px }
      [role='value'] {
        font-size: 2rem
        margin-left: -40px
      }
      [role='unit'] {
        font-size: 1.5rem
        margin-left: -1rem
        margin-top: 6px
      }
    }
  }

  // Replace speedchecker terrible quality image
  img[src*='results_box'] {
    prefix = 'data:image/png;base64,'
    path   = 'iVBORw0KGgoAAAANSUhEUgAAAaoAAAA4CAMAAACbiEw4AAAATlBMVEUAAADh3N/h3N/h3N/h3N/h3N/h3N/'
    path  += 'h3N/h3N/h3N/h3N/h3N/h3N/h3N/h3N/h3N/h3N/h3N/h3N/h3N/h3N/h3N/h3N/h3N/h3N/h3N9MFC5hAA'
    path  += 'AAGXRSTlMAcH8O8WDQ5MHatKFIIFQ4kyiqaDCJQBabDKnAcAAAC5NJREFUeNrtm8mio6wWhbeCvdi37/+g9'
    path  += '+80sLLcnNQdZXC+URnKo6zdAok8s2Tp0dR1MyStkxe9fBW/uKS2Z0B1tPIv3Si/fBFdfTLF6kTcJN/DL11+'
    path  += 'KgyubOVb+GUszwiFfAu/zKfH5tMxDE1ZnJ7cyS/fgJnOmzJZ/MfdYV/2a+Vjxn7b+q+yrfvzN/rOuZryVZV'
    path  += 'GvYJl8gntUN3GrcM7UiDJWuPHsvSZVmRPFXaR9u1P9kaeWNZ7CracjbdeetHxOwZXjHflLZhrJy96//43i7'
    path  += '99S5+ZRSR5/6xzAuz3A49dHljPi0R+JCmwxL0m0J9E+RosePB+YHcqiAhX1zwha234v2xGKX996XBeVMEV0'
    path  += '98OVsHH1cswAzn36FdAXXM+U4uYk6nSYEomvz7sr+s+GaZ6atL/TOrsmX8YV1tFT0pvG54PlLv8JMqqDOUi'
    path  += 'Yk/GzpgvDm5nr6GXZLfHeLdo5G/aU8H899KwsAFXfuWh0ceC/z+okSfVHln0cnM9sza8tqrW8R/fde2lSis'
    path  += 'x0vOBDoVBciPyaeSQ4OPzyCGePX/UBAV1z+kjjTiJyFjoc325jY8FH8HmVGjVR9oeBR58AgOq85xeb2Zd3F'
    path  += 'J6m1+pivON0cjxAZ7p7gkaEe7fMS+o99mL3l8xDWQ0oMBcX8p/lOG9WyRYJ2WououIT9j9s6CbiLgCnk7oy'
    path  += 'vUgDMumi3IokXPllkEfA42IAQSt5cYGqukFdBYRU6kOxEVwOsNHJRFzFKdCFrh7473bllMz1eG7VIuILDZe'
    path  += 'rpzVe4OIL6WRyJn13GjREEjDYc5OmlAQjpDiXKyraJSx6aEIDpjuJ/3W/dSo/Rvnt/XLxL3WVJMXpn1VFMs'
    path  += 'NMflOu5tlVXJckedV6DxlRJSFu4owt3gJ/qayaEcQ26b9blr/WHjfltLC8VMBbb3Vk3HfM/u6hFzv0F+q3Y'
    path  += '8ySfBn7b8zesusxr5SRn2edY9N/HqG8xnQCZExfCZIcbAwxk+uCEQpMySMnBSHepHlrSQEphjxDSon2NK5U'
    path  += 'LKdeuwZeowjA7rw3tJge2vDXF9gWbAjdLtFhrjbql7Czob+kb7kH86i1ZOaXURMEQmr4T37JJCxi6AM4AwC'
    path  += 'UWYhbKABwuuiBTuxhWqXDcLVQCBgZVvgqtercmHe/TTM9TW4h+3RXyZBqK2B3b5bwuLfx9dsgzzI70Ykiyy'
    path  += 'EC9QFXQQXl9hmgEQIRQ5wgGHgdRMoGSm/46Nk5w3aVXRZOp4NFsE+WPqSLAC1NTB9K9Le3uxso2xTTEEeq+'
    path  += '66hlBJppTXYszh2oNFYf8dIoI5Ml4aeoc1LAVJRm4BE0I2GMKshhMfLfSNEDkbN2b0d5fgk+ZOLtMkyivtn'
    path  += 'Y/KhJxf1RR0YWGcD7NRixzaokF4XbSGpkrYyo+C9pRQh4iTQLhmJGkdFjLjilOPbM5hXVjdafvEXi+z5EKY'
    path  += '4rotfdujSpVSBYOuvGgoC0PKrj+LnFEQXheBQ9CtFDYs2QEWYCfh+mnIUdewCAYL8EbYRQmu2at/if6Wb3B'
    path  += 'akRu90Mv1r1KYiYRTsjAFwKeRg2BJ4LliNuHI33kYbVuyk7Crs6ShE5a4LOKbEarZ0PYnlwxm1hqsOnCFQe'
    path  += '4btMeQ4ORLlAd6VRTaolHSUPvw0aMlu+ai5WRDG03ceurtjMzNxSiSKjud5E0E1ewsmH5zWaMXYrRB8VvvF'
    path  += 'L8omoZr8MZJ3BFhRUyRo/TjBK2LwC0p5Wr7lcN2MXtd9NZTrzbcccPSl16x/7kzW2zgFCXIAOThXbu9FQA/'
    path  += 'xjzrabYfsnAblNvFOx8whmFSwFCDC00WkaNCF5RYwUlsDgh3QWxJxLqnyKnykOyhkcks1dZMPU70Y8ctdKU'
    path  += 'sCdr38zDvSeRLJvXTMLcoxA/b8Ruvi3xB56aDkw0BeW1Q9/ozyKyE4xMMjhyiDR85JUmSNgVssImlGEHlC7'
    path  += 'weLtHTT5ypWR6EmZqmKXHj61BFERPZZ05ZsT6wXuKfEBeUcT6pEAfXSM71SM5rGsYou88+FflyhOzF+zzt5'
    path  += 'aG1ljLbkzgM+hJTsigcOcwYFseNK1vKpYoFJSBj6qpV8VK1sulplKi0R3pf1CZT3+kJPynJVPGDxcrFfalw'
    path  += '8chJFDGpuFNrRt2UKihR+wBlFl4E/FgEU6oERANblo/fBVECefYFFuaWawkQyyBuHOqJv1hiouhHOyVtKtI'
    path  += 'qxOm1nyVjZdUCSl0+wSLkNEok+iNrE9zZ8R4ph+58zTvX87849qgjIkzuJB45Wlex0qYibcR12g6ILhmUoE'
    path  += 'Z1klRfGGlFcARltdPKI35Omj/GSEUqXHOf2LjI0tgT2bUsbFORuChqbuwEFKP6M/GwtoQpmht8Y631/L+KY'
    path  += 'PpRV5GfCotfuDZa0Vneu4ZVHA4wJsMQytCXsJnHrGUAONqhIVSMTwYnGo5tLsMyDa/oyT93FUTFr5jxjHxd'
    path  += '+AeydPrvEOdxTvN9/TetdPyWxLhaSFY+C1f1P0zrPMqDRETsaKfgtqEKEk7OgnbphaO9WFqmwRXy8L5zeoG'
    path  += '5Pse4oHOb+O5zX+A7tE/31ZF1w4F1UmH3L3xgZ0Z8fCiqH+1QUgtqUfG0EUV7sbRMow1EfnDN3mahCKYj+O'
    path  += 'sf7z4n+CTjB+mmSivHVKr74eJlXGN9htF9SY+cz492Bv5LQ6BeyRoXJBkdhMIVsvGD20DTMfTRHCKQIye++'
    path  += '9y9/ecSjAIZcFPXua26w8cBsaIwxPThoaj2yIyjpg0Um7g8TbwXS26hF6QucvSSwl54uNLsaY0e332GF278'
    path  += 'zaz9XObNoq7vrJqoNv4oU3zpzw5FCcxg4O6WfJ+Obj/+YUGl7/XPfM7VYxEMQmzgyEG4ZtPOmYmtE5XSN8Q'
    path  += 'dgqRMQBhEF+XDLzKxczRgKl5JOSqesEyjK6WkZBT8lo4ncz/EQiHcyEzvL3mwlXVKdGS9WEKlbT7pKo5IV7'
    path  += 'Ho66KSfxO0hX92oBAtqXhyyVRWZTCUkUcNKAVkwPbjbjflhhZ8ojLyARmane3CaeLA/R4i/ShyiAwCFb5Dn'
    path  += 'oPhGpp49ic/LOj1BJjcecF6j4JTa8iAjb4E4LZGU7Vhp45/KX1RTXUa+qbnRr70ceS4T77I1PlfXfpP8EAV'
    path  += 'Xd+aP/lhgfx8nl37R3ERxAyYfN7totXRKzL5CZNrm2rvOyhLFVagjYURlihBujBlJYgTKSFQ96w6cWLmRBe'
    path  += 'Y4RWxeGKzCVdFgvRh9/K+E9095PoURv1XwxOEarby5bYEA48B9ylM7FTxaN3YNspuXfoHJ3xD5JxifNuECc'
    path  += 'fs+PZKxTy6dvL/X/+54gc/LJhDJ6g657oSfQSKIGTAySdhoqKdAFqOgA1sKwwn01YfYur4cjIuSqkf/S2nR'
    path  += 'gZpnWm5EaNmU3eSXt9VtY7rC2RAc48yE+8EKPVyL8h8hCm1yIifHMZXTrooi35OUSpHO5DRWnWciid/96M8'
    path  += 'FSKHNh3tRlAGbE+FhJem2ip8sXjAzvQFhieiRLbt4yunuCijnhv5qJJTbK4f/bSRriK8InLcM8Mna7+u8w9'
    path  += 'LT4WN/dl/YgXY4Of8hBmgZjObcsYb34+Ni5LpOY7twCm813/PneqC5nDF92s5JKGOm13G1KeCEcf+bJXeeL'
    path  += 'sHyo0NlVo4O/4wBR6GFpdETJQhkhsfDbWaeBm0mbCg3G1FnGT2MwKKlrdtOANmhdZV0BIAbFz0AiyFP/RzE'
    path  += 'tA21uuns+Qn0IzKBiEQEyXXxp4ixtYzuVGPf2HYeQnDJ37xruL2Amw6UxM5e1vo+IqYoK0hG1MTsQfhWUxp'
    path  += '125bNw8lOaXKdlS3sZss0C1LLowQfaLgRGZlKBMZ8YNsc/JI21S3JZNdXiQXXpYuudjDKyII2am4pQrmuvt'
    path  += 'VoUeZB67WWj/xGwNyIIk9I5Sj/IgZl2Vx8gXAK43m+//yH+KaU6PI5Kv4ZXw2VjXL1/GLmcsTsccm38kvpl'
    path  += '2n3P5jpKI8kkW+gV/+AjM43nAg1rKpAAAAAElFTkSuQmCC'
    ry      = 'no-repeat'

    background: s("url('%s%s') %s", rq(prefix), rq(path), rq(ry))

    background-size: 200px
    padding-left: 71%
    margin-top: 35px
    margin-bottom: -35px
    height: 0
    width: 0
  }
}
@-moz-document regexp('https?://iplookup.flagfox?.net(/.*)?') {
// iplookup.flagfox.net
  body {
    background: bg0
    overflow-x: hidden
    input {
      rad: 4px
      &[type='submit'] {
        background-color: bg4
        border-color: bg4
        color: v99
        padding: 0 1rem
        height: 1.733rem
        cursor: pointer
        &:hover {
          background-color: bg5
          border-color: bg5
          color: v99
        }
      }
    }
  }

  table {
    tr:hover { background-color: bg0 i }
    &.table-heading {
      td[align='center'] h1 a[href='/'] { color: v97 }
      &:not(:focus) { c: 0 0 bg0 }
      .form img[src] {
        vertical-align: middle
      }
    }
    &.table-geotool {
      td[align="left"] {
        width: 120px

      }
      td[width="25%"] a b {
        max-width: 380px
        display: inline-block
        text-overflow: ellipsis
        overflow-x: hidden
        vertical-align: middle
      }
    }
  }

  a {
    &:link, &:visited { color: v06 }
    &:hover, &:focus-within { color: v09 }
  }

  iframe[src*='/maps/embed'] {
   filter: invert(1) hue-rotate(180deg) contrast(.9)
    &:hover { filter: invert(1) hue-rotate(180deg) contrast(.9) }
  }

  .google-map {
    max-width: 800px
  }

  .hr2, hr {
    border-top: 1px solid bg4
    border-bottom: 0
    background-color: t
  }

  .gm-inset-dark {
    background-color: bg2
    border-color: bg4
  }

  select {
    rad: 4px
    option { color: v99 }
  }
}
